{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Toko Musik John Lennon</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<!-- Main Wrapper -->
<div class="overflow-x-hidden min-h-screen flex flex-col" style="background: linear-gradient(to bottom, white, #87CEEB);">

  <!-- Image Section with Overlay (Starts at absolute top) -->
  <div class="relative w-screen h-screen">
    <img src="{% static 'images/raster/bg3.jpg' %}" alt="Toko Musik John Lennon" class="absolute inset-0 w-full h-full object-cover"/>
    <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50">
      <h1 class="text-[10vw] md:text-4xl font-bold">Welcome to Toko Musik John Lennon</h1> <!-- Font size auto-adjust -->
    </div>
  </div>

  <!-- Last Login Section -->
  <div class="px-3 mb-4 mt-4">
    <div class="flex items-center bg-indigo-600 py-2 px-4 rounded-md w-fit">
      <h1 class="text-white text-center text-sm md:text-base">Last Login: {{last_login}}</h1>
    </div>
  </div>

  <!-- Add New Product Review Button -->
  <div class="flex justify-end mb-6 lg:px-10 px-0"> <!-- Removed padding for mobile, added for large screens -->
    <a href="{% url 'main:create_product_entry' %}" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
      Add New Product Review
    </a>
  </div>

  <!-- Product Entries -->
  {% if not product_entries %}
    <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
      <img src="{% static 'images/raster/sedih-banget2.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
      <p class="text-center text-gray-600 mt-4">Belum ada entry Produk</p>
    </div>
  {% else %}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 px-0 lg:px-4 w-full"> <!-- Removed padding for mobile, added for large screens -->
      {% for product_entry in product_entries %}
        <div class="col-span-1 text-left">
          <div class="card_product_entry text-left">
            {% include 'card_product_entry.html' with product_entry=product_entry %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock content %}
